
/*Lo mostramos 'hidden' por default*/
.modalload {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url(../assets/img/cargando.gif) 
        50% 50% 
        no-repeat;
}

/* Cuando el body tiene la clase 'loading' ocultamos la barra de navegacion */
body.loading {
    overflow: hidden;   
}

/* Siempre que el body tenga la clase 'loading' mostramos el modal del loading */
body.loading .modalload {
    display: inline-block;
}


