#datatable {
    
border-collapse: collapse; /* Collapse borders */
    
width: 100%; /* Full-width */
    
border: 1px solid#000; /* Add a grey border */
    

}

#datatable th, #datatable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
    font-size: 15px; /* Increase font-size */
}

#datatable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #4CAF50;
    font-size: 10px; /* Increase font-size */
}

#datatable tr.header, #datatable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;

}
#mapa {
 
    width: 620px;
    height: 400px;
    margin-top: 10px;

}
.mySelectFiltro {
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
}
